html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #7e7c7c;
  background-color: #ececec;
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.22);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo {
  font-size: 30px;
  font-weight: 300;
  color: #8d8d8d;
}

.logo_blue {
  font-size: 36px;
  font-weight: 700;
  color: #1298dd;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.site-navigation__link {
  padding: 5px 14px;
  color: #676767;
}

.site-navigation__link:hover {
  color: #1298dd;
}

.site-navigation__link_active {
  padding: 4px 13px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#37b2f8), to(#1f85e7));
  background: linear-gradient(180deg, #37b2f8 0%, #1f85e7 100%);
  border: 1px solid #1784D1;
  border-radius: 4px;
  cursor: default;
}

.site-navigation__link_active:hover {
  color: #ffffff;
}

.ask {
  position: relative;
  min-height: 534px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ask__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.ask__title {
  font-weight: 700;
}

.ask__subtitle {
  font-weight: 300;
}

.ask__title, .ask__subtitle {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);
}

.ask__link {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 50px;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#69cb55), to(#35ae22));
  background: linear-gradient(180deg, #69cb55 0%, #35ae22 100%);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);
}

.ask__link:hover, .ask__link:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.35);
}

.places {
  position: relative;
  z-index: 2;
  padding: 20px 27px 10px;
  margin: 0 auto;
  margin-top: -96px;
  width: 428px;
  background-color: #ffffff;
  border-bottom: 7px solid #4EB93B;
  border-radius: 4px;
}

.places__title {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 23px;
  text-align: center;
}

.places__list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.places__item {
  width: 79px;
  margin-bottom: 10px;
}

.places__link {
  display: block;
}

.places__img {
  width: 100%;
}

.places__name {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #929292;
}

.life {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}

.life__title {
  font-size: 26px;
}

.life__subtitle {
  font-size: 23px;
}

.life__title, .life__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.life__list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__item {
  margin-right: 73px;
}

.categories__item:last-child {
  margin-right: 0px;
}

.categories__link {
  display: block;
}

.categories__link:hover > .categories__name {
  color: #1298dd;
}

.categories__name {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #7e7c7c;
}

.world, .basket, .camera, .magnifier {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  width: 133px;
  height: 133px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */